.container_landing{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.home_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  min-width: 200px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    
    padding: 13px;
    gap: 10px;
}
.container_img_card_home{
  border-radius: 10px;
  background-color: white;
  padding: 5px;
}
.home_card img{
  width: 45px;
  
}

.home_card p{
  font-size: 18px;
  text-transform: uppercase;
}