
.parrafoForm, .selectSimple, .inputSimple{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
    height: 25px;
    color: var(--ligth-text);
}

.dropDown{
    background-color: var(--persian-blue-900);
    color: white;
    width: 30vw;
}
.caja_pestañas{
    color: white;
    background: linear-gradient(90deg, var(--persian-blue-600) 0%, var(--persian-blue-950)  67%, var(--persian-blue-900)) ;

}
.pestaña{
    width: 30vw;
    
    text-transform: uppercase;
}

.dropDown_a{
        color: white;
        font-size: large;
        text-transform: capitalize;
}

