
.parrafoForm, .selectSimple, .inputSimple{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 25px;
    
    margin-bottom: 40px;
}
.only_select, .only_input{
    border-radius: 5px;
    border: solid var(--persian-blue-400) 2px;
}
.dropDown{
    background-color: var(--persian-blue-900);
    color: white;
    width: 30vw;
}
.caja_pestañas{
    color: white;
    background: linear-gradient(90deg, var(--persian-blue-600) 0%, var(--persian-blue-950)  67%, var(--persian-blue-900)) ;

}
.pestaña{
    width: 30vw;
    
    text-transform: uppercase;
}

.dropDown_a{
        color: white;
        font-size: large;
        text-transform: capitalize;
}
.big_input_search{
    border-radius: 5px;
    margin-bottom: -40px;
}

.button_save{

    background-color: var(--persian-blue-700);
    color: var(--persian-blue-50);
    border-radius: 0.5rem;
    cursor: pointer;
    border: solid var(--persian-blue-700) 0.1px;
    
    padding: 7px;
}