:root{
	
	--color-third: black;
	--color-fourth: #484C4D;
	--dark-text: white;
	--ligth-text: black;
  --persian-blue-50: #ecf7ff;
  --persian-blue-100: #d4ecff;
  --persian-blue-200: #b3dfff;
  --persian-blue-300: #7fcdff;
  --persian-blue-400: #43b0ff;
  --persian-blue-500: #188bff;
  --persian-blue-600: #0067ff;
  --persian-blue-700: #004ffb;
  --persian-blue-800: #0340ca;
  --persian-blue-900: #0a3b9e;
  --persian-blue-950: #0c255f;
  
}




.boton-menu{
	display: none;
}

.boton-check{
	float: right;
	cursor: pointer;
	align-items: center;
    display: flex;
}
.boton-check p{
	font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    margin-right: 7px;
}
.boton-check .boton_open{
	height: 20px;
}
.boton-check .boton_close{
	display: none;
	width:  20px;
}
header{
  
background: linear-gradient(90deg, var(--persian-blue-600) 0%, var(--persian-blue-950)  67%, var(--persian-blue-900)) ;
	height: 35px;
	padding: 5px 9px 0 6px;
}

.caja-logo{
	display: flex;
    align-items: center;
}

.caja-logo a{
	
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.logito{
	height: 30px;
	margin: 0px 10px;
}
header .caja_pestañas{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7rem 0 9rem 0;
    
	position: fixed;
	width: 50%;
    height: auto;
   
background: linear-gradient(90deg, var(--persian-blue-600) 0%, var(--persian-blue-950)  67%, var(--persian-blue-900)) ;
    right: -100%;
    top: 38px;
	transition: .5s;
}
header .caja_pestañas .pestaña{
	font-size: 1.6rem;
	text-align: center;
}

header .caja_pestañas .pestaña .pestana_a{
	color: white;
}
.pestaña a.active, .pestaña .pestana_a:hover{
	background-color:brown;
	transition: .5s;
}

#boton-menu:checked ~ .caja_pestañas{
	right: 0;
}
#boton-menu:checked + label .boton_open{
	display: none;
}
#boton-menu:checked + label .boton_close{
	display: block;
}


.dropDown{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropDownClose{
	display: none;
}