
.boton-menu{
	display: none;
}

.boton-check{
	justify-content: space-around;
	width: 125px;
	float: right;
	cursor: pointer;
	align-items: center;
    display: flex;
}
.boton-check p{
	font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    margin-right: 7px;
}
.boton-check .boton_open{
	height: 20px;
}
.boton-check .boton_close{
	width:  20px;
}
header{
  
background: linear-gradient(90deg, var(--persian-blue-600) 0%, var(--persian-blue-950)  67%, var(--persian-blue-900)) ;
	height: 35px;
	padding: 5px 9px 0 6px;
}

.caja-logo{
	display: flex;
    align-items: center;
}

.caja-logo a{
	
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.logito{
	height: 30px;
	margin: 0px 10px;
}
header .caja_pestañas{
	width: 50vw;
	border-radius: 0 0 0 8px;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0%;
    position: fixed;
	height: auto;
    top: 38px;
	transition: .5s;
}
header .caja_pestañas .pestaña{
	font-size: 1.6rem;
	text-align: center;
	
}

header .caja_pestañas .pestaña .pestana_a{
	color: white;
}


.dropDown{
	margin-left: -10px;
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	width: 50vw;
}

.dropDownClose{
	display: none;
}

.dropDown_a{
	width: 50vw;
}