.result{
    width: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.infoTable{
    min-width: 1050px;
}


.button_save{

    background-color: var(--persian-blue-700);
    color: var(--persian-blue-50);
    border-radius: 0.5rem;
    cursor: pointer;
    border: solid var(--persian-blue-700) 0.1px;
    
    padding: 7px;
}

.suggestions_lu{
    background-color: var(--persian-blue-200);
}

.product_image{
    width: 305px;
    margin: 0;
    -webkit-box-shadow: 10px 10px 31px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 31px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 31px -4px rgba(0,0,0,0.75);
border-radius: 8px;

}
.title_product{
    text-transform: capitalize;
    font-size: 20px;
    margin: 2px;
    
}