.table_header{
    background-color: var(--persian-blue-800);
    color:var(--persian-blue-100);
}

.table_body{
    color: var(--persian-blue-800) ;
    font-weight: 500;
}

td{
    padding-left: 8px;
}
tr:nth-child(even){
    color: var(--persian-blue-950);
    background-color: var(--persian-blue-300);
}