:root{
	--color-third: white;
	--color-fourth: #484C4D;
	--dark-text: white;
	--ligth-text: white;
  --persian-blue-50: #f0f5fe;
  --persian-blue-100: #dde8fc;
  --persian-blue-200:#c2d7fb ;
  --persian-blue-300: #98bff8;
  --persian-blue-400: #689df2;
  --persian-blue-500: #447aed;
  --persian-blue-600: #2f5ce1;
  --persian-blue-700: #284bd7;
  --persian-blue-800: #253ca8;
  --persian-blue-900: #233785;
  --persian-blue-950: #1a2451;  
}


.divForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
}

