:root{
	
	--color-third: white;
	--color-fourth: #484C4D;
	--dark-text: white;
	--ligth-text: white;
  --persian-blue-50: #f3fcf1;
  --persian-blue-100: #e1fade;
  --persian-blue-200:#c6f3bf ;
  --persian-blue-300: #99e78e;
  --persian-blue-400: #3fbc2f;
  --persian-blue-500: #3fbc2f;
  --persian-blue-600: #2e9821;
  --persian-blue-700: #27781d;
  --persian-blue-800: #235f1c;
  --persian-blue-900: #1e4e19;
  --persian-blue-950: #0a2b08;
  
}

h3{
  color: var(--persian-blue-50);
}

.divForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
}